@media (prefers-color-scheme: dark) {
    html {
        color: white;
        background-color: black;
    }
    img {
        filter: invert(100%);
    }
}

:root {
    --highlight: #6666dd;
}

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    line-height: 1;
    max-width: 54rem;
    margin: auto;
}

body {
    margin: 2rem;
}

a {
    text-decoration: none;
    color: var(--highlight);
}

h1, h2, footer {
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin: 0;
}
header p {
    margin: 0;
    font-size: 2rem;
    text-align: center;
    color: var(--highlight);
}

@keyframes fade-in {
    from {
        visibility: hidden;
    }
    to {
        visibility: visible;
    }
}

main {
    animation-name: fade-in;
    animation-delay: 0.05s;
    animation-duration: 0.2s;
}

section, footer {
    line-height: 1.5;
    margin: 2rem 0;
}

footer p {
    margin: .5rem;
}

#change-language {
    width: -moz-fit-content;
    width: fit-content;
    margin: 1rem auto 2rem;
}
.language-link {
    font-size: 2.5rem;
    margin: .5rem;
}

#members-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-gap: .5rem;
}
#members-content p {
    text-align: center;
    margin: 0;
}