@media (prefers-color-scheme: light) {
    :root {
        --content: #222222;
        --theme: white;
        --highlight: #6666dd;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --content: #dddddd;
        --theme: black;
        --highlight: #dd6666;
    }
    img {
        filter: invert(100%);
    }
}

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    line-height: 1;
    max-width: 54rem;
    margin: auto;
    color: var(--content);
    background-color: var(--theme);
}

body {
    margin: 2rem;
}

a {
    text-decoration: none;
    color: var(--highlight);
}

h1, h2, footer {
    text-align: center;
}

h1 {
    font-size: 4rem;
}
header p {
    margin-top: -2rem;
    font-size: 2rem;
    text-align: center;
    color: var(--highlight);
}

main {
    animation-name: fadein;
    animation-delay: 1;
    animation-duration: 2s;
}

section, footer {
    line-height: 1.5;
    margin: 2rem 0;
}

footer p {
    margin: .5rem;
}

#change-language {
    width: -moz-fit-content;
    width: fit-content;
    margin: 1rem auto 2rem;
    animation-name: fadein;
    animation-duration: 1s;
}
.language-link {
    font-size: 2.5rem;
    margin: .5rem;
}

#members-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-gap: .5rem;
}
#members-content p {
    text-align: center;
    margin: 0;
}

@keyframes fadein {
    from {
        visibility: hidden;
        margin-top: 100vh;
    }
    to {
        visibility: visible;
        margin-top: 0;
    }
}