:root {
    --highlight: #6666dd;
}

html {
    font-family: Georgia;
    line-height: 1;
    font-size: large;
    max-width: 54rem;
    margin: auto;
}

body {
    margin: 2rem;
}

a {
    text-decoration: none;
    color: var(--highlight);
}

h1, h2 {
    text-align: center;
}

nav {
    width: -moz-fit-content;
    width: fit-content;
    margin: 2rem auto;
    font-size: 3rem;
}

section {
    line-height: 1.5;
    margin: 4rem auto;
}

footer {
    text-align: center;
    margin: 2rem;
}

h1 {
    font-size: 4rem;
    margin: 0;
}
header p {
    margin: 0;
    font-size: 2rem;
    text-align: center;
    color: var(--highlight);
}

#members-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-gap: .5rem;
}
#members-content p {
    text-align: center;
    margin: 0;
}