@import 'darkmode.css';
@import 'animations.css';
@import 'languageSelection.css';
@import 'members.css';

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    max-width: 54rem;
    margin: auto;
    color: var(--content);
    background-color: var(--theme);
}

body {
    margin: 2rem;
}

a {
    text-decoration: none;
    color: var(--highlight);
}

h1, h2, footer {
    text-align: center;
}

h1 {
    font-size: 4rem;
    line-height: 1;
}
header p {
    margin-top: -2rem;
    font-size: 2rem;
    text-align: center;
    color: var(--highlight);
}

main {
    animation-name: fadein;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

section, footer {
    font-size: large;
    line-height: 1.5;
    margin: 2rem 0;
}

footer p {
    margin: .5rem;
}