@import 'darkmode.css';
@import 'animations.css';
@import 'languageSelection.css';
@import 'members.css';

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    font-size: large;
    color: var(--content);
    background-color: var(--theme);
}

body {
    margin: calc(25vw - 4rem);
    margin-top: 5vw;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: var(--highlight);
}

button {
    color: inherit;
    background-color: inherit;
    padding: 0;
    border: none;
}

h1, h2, footer {
    text-align: center;
}

h1 {
    font-size: 4rem;
    line-height: 1;
}
header p {
    margin-top: -2rem;
    font-size: 2rem;
    text-align: center;
    color: var(--highlight);
}

main {
    animation-name: fadein;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

section {
    line-height: 1.5;
    margin: 2rem 0;
}

footer {
    margin: 2rem;
    filter: hue-rotate(50%);
}
footer nav a {
    display: inline-block;
}

#vercel {
    height: 2rem;
}