#select-language {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
}
#select-language a {
    width: -moz-fit-content;
    width: fit-content;
}
#select-language button {
    margin: .5rem;
    color: var(--content);
    background-color: var(--theme);
    border-radius: 2rem;
    border: 1px solid #808080;
    padding: .3rem .8rem;
    font-size: inherit;
    text-transform: capitalize;
}
#select-language button:hover {
    background-color: var(--highlight);
}