#members-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
    gap: 1rem;
    padding: 0;
    list-style-type: none;
}
#members-list li {
    text-align: center;
}